django
djangorestframework
djangorestframework-simplejwt
django-cors-headers
gunicorn
psycopg2-binary
kiteconnect
python-dotenv
supabase
dj-database-url
nsetools
requests
APScheduler
drf-spectacular>=0.27.2
drf-spectacular-sidecar>=2024.7.1
